.RaceLegend{
  width: 100%;
  padding:0% 1% 0% 1%;
  margin-bottom: 1%;
  padding-top: 10%;
}

.EducationLegend{
  width: 100%;
  padding:15% 1% 0% 1%;
  margin-bottom: 1%;
  padding-top: 10%;
}

.RaceLegend{
  width: 100%;
  padding:0% 1% 3% 1%;
  padding-top: 10%;
}

.EducationLegend{
  width: 100%;
  padding:15% 1% 3% 1%;
  padding-top: 10%;
}



#legend1{
  color: #3b1f86;
}

#legend2{
  color: #ff8304;
}

#legend3{
  color: #e0bb00;
}

#legend4{
  color: #ff1a9f;
}

#legend5{
  color: #8ce510;
}

#legend6{
  color: #0000e6;
}

#legend7{
  color: #34a5ef;
}