.Legend{
  font-weight: 600;
  text-align: center;
  font-size: 1.25rem;
  margin: 1em 0;
}


#legend1{
  color: #3b1f86;
}

#legend2{
  color: #ff8304;
}

#legend3{
  color: #e0bb00;
}

#legend4{
  color: #ff1a9f;
}

#legend5{
  color: #8ce510;
}

#legend6{
  color: #0000e6;
}

#legend7{
  color: #34a5ef;
}